<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/hom1"></ion-back-button>
        </ion-buttons>
        <ion-title>
            NEW CARS
        </ion-title>
        <ion-buttons slot="primary">
            <ion-button href="/hom1">
                <ion-icon name="home"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <br>
    <ion-searchbar animated="true" placeholder="Search New Cars "></ion-searchbar><br>
    <ion-card class=" alert alert-danger">
        <ion-card-header>
            <h2><b> New Cars </b></h2>
        </ion-card-header>
        <ion-card-content>
            <ion-card>
                <ion-card-header>
                    <ion-img src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Maruti/Alto-K10/8020/1660815407716/front-left-side-47.jpg?tr=w-456"></ion-img>
                </ion-card-header>
                <ion-card-content>
                    <b class="h4">Maruti Alto K10</b>
                    <br><b class="h5">₹ 3.99 - 5.83 Lakh*</b><br><br>
                    <ion-button expand="block" color="danger">Check Offer</ion-button>
                </ion-card-content>
            </ion-card>
            <ion-card>
                <ion-card-header>
                    <ion-img src="https://cdni.autocarindia.com/utils/imageresizer.ashx?n=https://cms.haymarketindia.net/model/uploads/modelimages/Hyundai-Verna-300320201643.jpg "></ion-img>
                </ion-card-header>
                <ion-card-content>
                    <b class="h4 ">Hyundai Verna</b>
                    <br><b class="h5">₹ 9.44 - 15.53 Lakh*</b><br><br>
                    <ion-button expand="block" color="danger">Check Offer</ion-button>
                </ion-card-content>
            </ion-card>
            <ion-card>
                <ion-card-header>
                    <ion-img src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Mercedes-Benz/GLA/7269/1621948227508/front-left-side-47.jpg "></ion-img>
                </ion-card-header>
                <ion-card-content>
                    <b class="h4">Mercedes-Benz GLA</b>
                    <br><b class="h5">₹ 44.90 - 48.90 Lakh*</b><br><br>
                    <ion-button expand="block" color="danger">Check Offer</ion-button>
                </ion-card-content>
            </ion-card>
            <ion-card>
                <ion-card-header>
                    <ion-img src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Rolls-Royce/Ghost/8051/1601280317407/front-left-side-47.jpg?tr=w-140,h-140"></ion-img>
                </ion-card-header>
                <ion-card-content>
                    <b class="h4">Rolls-Royce Ghost</b>
                    <br><b class="h5">₹ 6.95 - 7.95 Cr*</b><br><br>
                    <ion-button expand="block" color="danger">Check Offer</ion-button>
                </ion-card-content>
            </ion-card>
        </ion-card-content>
    </ion-card>
</ion-content>
