<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/hom1"></ion-back-button>
        </ion-buttons>
        <ion-title>
            CONTACT
        </ion-title>
        <ion-buttons slot="primary">
            <ion-button href="/hom1">
                <ion-icon name="home"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-img src="assets\Screenshot 2022-11-15 123025.png"></ion-img>
    <ion-card>
        <ion-card-header class="text-danger">
            <h2>
                <ion-icon name="call"></ion-icon><b> Toll-free Number</b></h2>
        </ion-card-header>
        <ion-card-content>
            <b>1800-200-3000</b>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header class="text-danger">
            <h2>
                <ion-icon name="mail"></ion-icon><b> Email Handle</b></h2>
        </ion-card-header>
        <ion-card-content>
            <b>support@cardekho.com</b>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header class="text-danger">
            <h2>
                <ion-icon name="storefront"></ion-icon><b> Dealer Solutions</b></h2>
        </ion-card-header>
        <ion-card-content>
            <b>Dealer Solutions</b>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header class="text-danger">
            <h2>
                <ion-icon name="storefront"></ion-icon><b> Used Cars Business</b></h2>
        </ion-card-header>
        <ion-card-content>
            <b>Become Dealer Partner</b>
        </ion-card-content>
    </ion-card>
</ion-content>
