<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/hom1"></ion-back-button>
        </ion-buttons>
        <ion-title>
            LOGIN
        </ion-title>
        <ion-buttons slot="primary">
            <ion-button href="/hom1">
                <ion-icon name="home"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-img src="https://etimg.etb2bimg.com/thumb/msid-86869891,width-700,resizemode-4/.jpg"></ion-img>
    <ion-card color="medium">
        <ion-card-header>
            <ion-card-title class="text-center text-dark">Login Here</ion-card-title>
            <hr>
        </ion-card-header>
        <ion-card-content>
            <ion-item color="medium">
                <ion-label position="floating">Mobile No.</ion-label>
                <ion-input type="text" placeholder="Mobile No." color="medium" maxlength="10"></ion-input>
            </ion-item>
            <ion-item color="medium">
                <ion-label position="floating">User Name</ion-label>
                <ion-input type="text" placeholder="User Name" color="medium"></ion-input>
            </ion-item><br>
            <ion-button color="danger" expand="block">Confirm</ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>
