<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/hom1"></ion-back-button>
        </ion-buttons>
        <ion-title>
            ABOUT
        </ion-title>
        <ion-buttons slot="primary">
            <ion-button href="/hom1">
                <ion-icon name="home"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content><br>
    <ion-img src="https://www.theanandaacademyhld.com/images/abt3.jpg"></ion-img>
    <ion-card>
        <ion-card-header>
            <ion-card-title>About CarDekho</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            CarDekho.com is India's leading car search venture that helps users buy cars that are right for them. Its website and app carry rich automotive content such as expert reviews, detailed specs and prices, comparisons as well as videos and pictures of all
            car brands and models available in India. The company has tie-ups with many auto manufacturers, more than 4000 car dealers and numerous financial institutions to facilitate the purchase of vehicles. <br><br>
            <b class="h3">Investors and shareholders</b>
            <br>CarDekho.com, which went live in 2008, was set up by a bunch of young, enthusiastic IIT graduates. Its investors include Google Capital, Tybourne Capital, Hillhouse Capital, Sequoia Capital, HDFC Bank, Ratan Tata and Times Internet.
        </ion-card-content>
    </ion-card>
</ion-content>
